body {
    background-image: url("../images/hex-dark/hex-dark.png");
}

h1 {
    font-family: cursive !important;
    font-weight: bold !important;
    font-size: 40px !important;
    color: white;
    padding: 20px !important;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    font-size: 20px !important;
    color: white;
    padding: 15px !important;
}